/* ==============================
   GLOBAL
================================ */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #fdf6f8;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* ==============================
   HEADER
================================ */
.header {
    background: #f5b7c7;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #ffcfd7;
}

.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo img {
    width: 40px;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

/* ==============================
   BANNER
================================ */
.banner {
    text-align: center;
    padding: 25px;
    background: #ffdce6;
    margin: 20px;
    border: 2px solid #aaa;
}

/* ==============================
   SIDEBAR
================================ */
.sidebar {
    width: 20%;
    float: left;
    border: 1px solid #666;
    padding: 15px;
    box-sizing: border-box;
}
/* ==============================
   KONTAK
================================ */
.contact-section {
    padding: 40px;
    background: #fdf6f8;
}

.contact-box {
    display: flex;
    gap: 30px;
    background: #fff;
    padding: 30px;
    border: 1px solid #ccc;
}

.contact-info,
.contact-form {
    width: 50%;
}

.contact-info h3,
.contact-form h3 {
    margin-bottom: 15px;
    color: #d6336c;
}

.contact-info p {
    margin-bottom: 10px;
}

/* FORM */
.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 12px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.contact-form button {
    background: #ff8fab;
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}

.contact-form button:hover {
    background: #f06595;
}
